div.stChatFloatingInputContainer.css-90vs21.e1d2x3se2{
    background-color: transparent;

}

div.css-z5fcl4{
    background-color: 	#36454F;
}

div.css-keje6w{
    background-color: #2d2a2a;
    padding-top: 30px;
    padding-bottom: 250px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;

}

#background { 
    
    background-color: #9B59B6;
  }

